In [1]:
import joblib
import pandas as pd
import milton_maps as mm

/Users/alexhasha/Library/Caches/pypoetry/virtualenvs/milton-maps-gfMaDXEA-py3.10/lib/python3.10/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
residential_tax_parcels = joblib.load("../data/processed/residential_tax_parcels.pkl")
residential_tax_parcels.shape

(32387, 28)

In [3]:
residential_tax_parcels.head()

,SHAPE_Leng,SHAPE_Area,MAP_PAR_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,...,USE_DESCRIPTION,RES_AREA,ZONING,UNITS,STYLE,LOT_SIZE,TOTAL_VAL,LAND_VAL,SITE_ADDR,IS_RESIDENTIAL
LOC_ID,,,,,,,,,,,,,,,,,,,,,
189M 2 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Condominium,2525.0,PUD,1.0,CONDO-TNHS,0.0000,1240900.0,0.0,8 WOLCOTT WOODS LN,True
2436080Q_22_22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Single Family,2344.0,NaN,0.0,Conventional,0.1433,315400.0,315400.0,186 ESSEX ST,True
F_757603_2907021,718.018773,21213.803766,A 10 1B,FEE,A,ASSESS,A-9-10,20180101.0,NaN,N,...,Single Family,3057.0,RAA,1.0,CONTEMPORY,2.1900,1459500.0,656200.0,1259 BRUSH HILL RD,True
F_757686_2912486,234.162104,3303.047646,A 17 6,FEE,A,OTHER,A-15-16-17,20120120.0,NaN,N,...,Single Family,1914.0,RA,1.0,SPLIT ENT,0.8000,701200.0,468100.0,10 BIG BLUE DR,True
F_757794_2912249,185.421545,1746.824432,A 15 28,FEE,A,OTHER,A-15-16-17,20120120.0,NaN,N,...,Single Family,1680.0,RA,1.0,COLONIAL,0.4000,807200.0,438600.0,9 BIG BLUE DR,True

In [4]:
residential_tax_parcels.columns

Index(['SHAPE_Leng', 'SHAPE_Area', 'MAP_PAR_ID', 'POLY_TYPE', 'MAP_NO',
       'SOURCE', 'PLAN_ID', 'LAST_EDIT', 'BND_CHK', 'NO_MATCH', 'TOWN_ID',
       'geometry', 'Shape_Leng', 'Shape_Area', 'PROP_ID', 'LOC_ID', 'TOWN',
       'YEAR_BUILT', 'USE_DESCRIPTION', 'RES_AREA', 'ZONING', 'UNITS', 'STYLE',
       'LOT_SIZE', 'TOTAL_VAL', 'LAND_VAL', 'SITE_ADDR', 'IS_RESIDENTIAL'],
      dtype='object')

In [5]:
residential_tax_parcels.TOWN_ID.unique()

array([ nan, 189., 243.])

In [6]:
residential_tax_parcels.to_csv("~/Downloads/milton_quincy_residential_parcels.csv")